MAKE = make
F90 = mpif90
# production
F90_OPTS=-O2 -Wall -cpp -D_MPI_ -D_HDF5_ -D_LIBXC_ -I/Users/anton/local/include
# debug
#F90_OPTS=-O0 -Wall -g -cpp -fbounds-check -fdump-core -fbacktrace -D_HDF5_ -D_MPI_ -D_LIBXC_ -I/Users/anton/local/include
F90_LINK_OPTS=$(F90_OPTS)
F77 = gfortran-mp-4.4
F77_OPTS = -O2
AR = ar
LIB_SYS = /Users/anton/local/lib/libhdf5hl_fortran.a \
  /Users/anton/local/lib/libhdf5_hl.a /Users/anton/local/lib/libhdf5_fortran.a \
  /Users/anton/local/lib/libhdf5.a -lz -lm 
LIB_LAPACK = /Users/anton/local/lib/liblapack.a /Users/anton/local/lib/libblas.a ../libxc.a

MADNESS_INC=-I$(HOME)/local/opt/madness/include
MADNESS_LIB=-L$(HOME)/local/opt/madness/lib/ -lMADmra -lMADlinalg -lMADtensor -lMADmisc -lMADmuparser -lMADtinyxml -lMADworld -lmpi_cxx -lstdc++
